{
	log {
		output stderr
		format console
	}
}

www.traefik.me {
	log {
		output stdout
		format console
	}

	tls /certs/fullchain.pem /certs/privkey.pem

	handle /api/* {
		reverse_proxy backend:8080 {
			flush_interval 0
		}
	}

	handle {
		root * /var/www
		rewrite /js/index.js /src/ts/index.ts
		file_server {
			pass_thru
		}
		reverse_proxy frontend:3000
	}
}
